<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneTrickPony_Podcaster Background.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OneTrickPony_Podcaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480FEDAD1C54B3DF005594F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480FEDC41C54B3DF005594F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480FEDCF1C54B3DF005594F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
