<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feedurl</key>
	<string>http://compendion.net/dirtyminutesleft/feed/m4a</string>
	<key>UserAgent</key>
	<string>Dirty Minutes Left App</string>
	<key>backgroundColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>textcolor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<real>0.55</real>
		<key>blue</key>
		<real>0.84</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>secondarytextcolor</key>
	<dict>
		<key>red</key>
		<real>0.5</real>
		<key>green</key>
		<real>0.5</real>
		<key>blue</key>
		<real>0.5</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>highlightColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<real>0.55</real>
		<key>blue</key>
		<real>0.84</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>progressBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>playControlColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<real>0.55</real>
		<key>blue</key>
		<real>0.84</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
