<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feedurl</key>
	<string>http://www.dirtyminutesleft.de/feed/m4a/</string>
	<key>UserAgent</key>
	<string>Dirty Minutes Left App</string>
	<key>basecolor</key>
	<string>3A90D3</string>
	<key>textcolor</key>
	<string>FFFFFF</string>
	<key>secondarytextcolor</key>
	<string>808080</string>
	<key>highlightcolor</key>
	<string>000000</string>
</dict>
</plist>
